@font-face {
    font-family: 'urbanist';
    src: url('/fonts/Urbanist-Regular.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    font-family: 'urbanist';
    background-image: url('/image/background/desert-dune.jpg');
    background-size: cover;
    margin: 7vh 5vw;
}

/* SEARCH */
.search-div {
    text-align: right;
}

#location {
    appearance: none;
    background: transparent;
    padding: 4px 8px;
    border: none;
    border-bottom: 2px solid #000000;
    font-size: 1.2rem;
}

#location:focus {
    outline: none;
    background-color: #FEFEFE;
    border-radius: 4px 4px 0 0;
}

.search {
    font-size: 1.4rem;
    cursor: pointer;
    border: none;
    background: transparent;
    margin-left: -4px;
}

.search:hover {
    color: #5f5a5a;
}

/* CURRENT WEATHER INFO */
.search-div + div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

.current-info {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    color: #FEFEFE;
    border-radius: 16px;
}

.current-info p {
    margin: 8px 0;
}

.current-weather {
    font-size: 3.5rem;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.current-location {
    font-size: 1.75rem;
    margin-bottom: 0 !important;
}

.current-info > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
}

.current-time {
    font-size: 1rem;
    margin: 0 !important;
}

.current-temp {
    font-size: 3.4rem;
}

.current-info > img {
    display: block;
    background-color: black;
    border-radius: 50%;
    padding: 20px;
    width: 60px;
    height: auto;
    margin-top: 16px;
}

/* WEATHER FORECAST */
.week-forecast {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}